{% from 'common/_macors.html' import static,bootstrap_plugin,sweetalert_plugin%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>登录</title>
    {{ bootstrap_plugin() }}
    {{ sweetalert_plugin() }}
    <script src="{{ static('common/js/zlajax.js') }}"></script>
    <script src="{{ static('front/js/sign-login.js') }}"></script>
    <link rel="stylesheet" href="{{ static('front/css/sign_login.css') }}">
</head>
<body>
    <div class="outer-box">
        <div class="logo-box">
            <a href="/">
                <img src={{ static('common/images/logo.png') }}>
            </a>
        </div>
        <h2 class="page-title text-primary text-center">知了账号登录</h2>
        <div class="form-box">
            <form action="" >

                <div class="form-group">
                    <input type="text" class="form-control" id="telephone" placeholder="手机号码">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" id="password" placeholder="密码">
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-question-sign " id="cap-icon"  aria-hidden="true"></i>
                        </div>
                        <input type="text" class="form-control" id="graph-captcha" name="graph-captcha" maxlength="4" placeholder="验证码">
                        <div class="input-group-addon" id="captcha-box">
                            <img src="/captcha/" id="captcha" alt="点击切换">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-block btn-primary" id="login-submit-btn" value="登录">
                </div>
            </form>
        </div>
    </div>
    {% if return_to %}
    <span style="display: none" id="return-to">{{ return_to }}</span>
    {% endif %}
</body>
</html>